In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [6]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df.loc[['viper', 'sidewinder']] #чтение

            max_speed  shield
viper               4       5
sidewinder          7       8

In [9]:
df.loc['cobra', 'shield']

2

In [10]:
df.loc['cobra':'viper', 'shield']

cobra    2
viper    5
Name: shield, dtype: int64

In [16]:
df.loc[[False, True,True]]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [17]:
new_df = df.loc[[False, True,True]]
new_df

            max_speed  shield
viper               4       5
sidewinder          7       8

In [18]:
df.loc[pd.Index(["cobra", "viper"], name="foo")]

       max_speed  shield
foo
cobra          1       2
viper          4       5